.header h1 {
  background-color: #000;
  color: #fff;
  padding: 25px;
  text-align: center;
  margin-top: 0;
}

.footer .pagination {
  text-align: center;
  margin: 25px;
}

.footer .pagination button {
  padding: 10px 25px;
  border: none;
  outline: 0;
  cursor: pointer;
  font-size: 24px;
}
